<!DOCTYPE html>
<html>
<head>
    <title>Camera</title>
    <script type="application/javascript" src="{{url_for('static', filename='jquery-2.1.4.js')}}"></script>
    <style type="text/css">
        body {
            background-color: #111111;
            text-align: center;
            color: #CCCCCC;
        }
        h1 {
            padding-top: 0px;
        }

    </style>
</head>
<body>
<img id="frame" src="/camera_feed?corrected=true">
<img id="diferenca" src="/camera_feed?difference=true">

<script type="text/javascript">

    $(document).ready(function () {
        setInterval(function(){ 
            $("#frame").attr("src", "/camera_feed?corrected=true&time=" + (new Date).getTime())
            $("#diferenca").attr("src", "/camera_feed?difference=true&time=" + (new Date).getTime())
        }, 900)
    })
</script>

</body>
</html>